/*顶部导航*/

.header {
    height: 46px;
    background-color: #cc3333;
    position: fixed;
    width: 100%;
    z-index: 101;
}

.swiper-container-menu .swiper-slide {
    font-size: 16px;
    width: 62px;
    text-align: center;
    line-height: 46px;
}

.swiper-container-menu .swiper-slide a {
    color: #fff;
}

.swiper-container-menu .swiper-slide a:hover {
    color: #eee;
}

.swiper-container-menu .swiper-slide:first-child {
    border-left: none;
}

@media (max-width: 767px) {
    .header {
        height: 1.2rem;
    }
    .swiper-container-menu .swiper-slide {
        font-size: 0.4rem;
        width: 1.5rem;
        line-height: 1.2rem;
    }
}


/*顶部导航*/


/*尾部友情链接*/

.links {}

.links .container {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*尾部导航友情链接*/


/*尾部版权*/

.copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}


/*尾部版权end*/


/*尾部导航*/

.footer {
    background: #cc3333;
    height: 40px;
    margin: 0;
    padding: 0;
}

.footer ul {
    padding: 0 20px;
}

.footer ul li {
    float: left;
    width: 10%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.footer ul li a {
    color: #fff;
}

@media (max-width: 767px) {
    .links {
        display: none;
    }
    .footer {
        height: auto;
    }
    .footer ul {
        margin: 0.4rem 0;
        overflow: hidden;
        padding: 0 0.2rem;
    }
    .footer ul li {
        width: 25%;
        font-size: 0.32rem;
        line-height: 2;
    }
    .copyright {
        margin: 0 0.2rem;
        padding: 0.4rem 0;
        border-top: 1px solid #FFA1A1;
    }
    .copyright p {
        color: #FFA1A1;
        font-size: 0.36rem;
        margin: 0;
        line-height: 2;
    }
}


/*尾部导航end*/